.header .container{
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-direction: row;
	color: #fff;
}

.header .container button{
	cursor: pointer;
	background: var(--blue-gradient);
	outline: none;
	border: none;
	padding: 10px 22px;
	border-radius: 0.3rem;
	color: #fff;
	transition: all .2s ease-in;
}

.header .container button:hover{
	transform: scale(1.1);
}

.menu {
	display: flex;
	align-items: center;
	gap: 30px;
}

.menu a{
	color: var(--secondary);
	transition: all .2s ease-in;
}

.menu a:hover{
	color: var(--blue);
}

.menu-icon{
	display: none;
	cursor: pointer;
}

.menu-icon svg path {
	stroke: #fff;
}


@media (max-width: 768px) {
	.header .container{
		padding: 1rem;
	}

  .menu-icon {
    display: block;
  }
  .menu {
    position: absolute;
    gap: 2rem;
    font-weight: 500;
    flex-direction: column;
    right: 4rem;
    top: 3rem;
    background: white;
    display: flex;
    border-radius: 10px;
    transition: all 200ms ease;
    align-items: flex-start;
    padding: 2rem;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);
		z-index: 3;
  }
	.menu a{
		color: var(--black);
	}
	
	.header .container button a {
		color: var(--secondary);
	}
}