.value .container{
	gap: 1rem;
}

.vLeft{
	flex: 1;
}
.vLeft .imageContainer{
	border: 8px solid rgb(232 232 232 / 93%);
}
.vRight{
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
	flex: 1;
}

.accordion{
	display: flex;
	flex-direction: column;
	gap: 1rem;
	border: none !important; 
}

.accordionItem{
	background: white;
	border: 0.8px solid rgba(128,128,128,.143);
	border-radius: 8px;
	overflow: hidden;
	margin-bottom: 20px;
}

.accordionItem.expanded {
  box-shadow: var(--shadow);
  border-radius: 6px;
}

.accordionButton{
	background: white;
	padding: 1rem;
	width: 100%;
	justify-content: space-between;
	cursor: pointer;
}

.accordionButton .primaryText {
	font-size: 1.1rem;
}	

.icon {
  padding: 10px;
  background: #eeeeff;
  border-radius: 5px;
}
.icon svg {
  fill: var(--blue);
}

@media screen and (max-width: 1034px){
	.value .container{
		flex-direction: column;
	}

	.accordion{
		margin: 2rem 0 0 0;
	}
	
	.vRight{
		padding: 1rem 0 0 0;
	}
}

@media screen and (max-width: 768px){
	.value .container {
		padding: 4rem;
	}
}

@media screen and (max-width: 640px){
	.value .container {
		padding: 1.5rem;
	}
	.vLeft .imageContainer{
		max-width: 300px;
	}
}

@media screen and (max-width: 470px){
	.accordionButton{
	flex-direction: column;
	row-gap: 1rem;
}
}