.footer .container{
	display: flex;
	justify-content: space-between;
}

.fLeft{
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	gap: 1rem;
}

.fRight{
	display: flex;
	flex-direction: column;
	justify-content: flex-start;	
}

.fMenu{
	display: flex;
	flex-direction: row;
	gap: 1rem;
	padding: 1rem 0;
	font-size: 18px;
	font-weight: 500;
}

.fMenu a{
	transition: all .1s ease-in;
}

.fMenu a:hover{
	color: var(--blue);
}

@media screen and (max-width: 768px){
	.footer .container {
		flex-direction: column;
		justify-content: center;
		text-align: center;
		align-items: center;
		gap: 2rem;
	}
	.fLeft{
		display: flex;
		align-items: center;
	}
}

@media screen and (max-width: 440px){
	.fMenu {
		flex-direction: column;
	}
}